* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 40px auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline-color: gray;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
}

button:hover {
  background-color: #e1e1e1;
}

ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
